@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --background: #222831;
    --primary: #29a19c;
    --secondary: #51565e;
    --text: white;
}

.mainFooterContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
    background-color: var(--primary);
}

.wave5{
    width: 100%;
}