@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --background: #222831;
    --primary: #29a19c;
    --secondary: #51565e;
    --text: white;
}

.mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: var(--primary);
}